h1 {
	border-bottom: solid #808080;
	/*線の種類（実線） 太さ 色*/
}

h2 {
	border-bottom: solid #808080;
}

h3 {
	border-bottom: solid #808080;
	/*線の種類（実線） 太さ 色*/
}

.sideborder {
	padding: 0.25em 0.5em; /*上下 左右の余白*/
	color: #494949; /*文字色*/
	background: transparent; /*背景透明に*/
	border-left: solid 5px #7db4e6; /*左線*/
}

.form_conf {
	text-align:;
}

.form_conf form {
	display: inline-block;
	margin: 0 10px;
}