@CHARSET "UTF-8";
div#header
{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 70px;              /* 縦幅140px */
    background-color:#FFFFFF;     /* 背景色() */
    box-shadow: 0px  5px 5px #cccccc;
}
#main {
padding-top: 70px;
}